<div th:fragment="container" class="container" style="padding-top: 15vh">
  <div class="d-flex flex-sm-column flex-lg-row ">
    <div class="left w-25">
      <h3>New social from cambodia</h3>
      <p>Free posting and sharing article with your contents</p>
      <hr>
      <h4>Popular Category</h4>
      <ul class="list-group list-unstyled">
        <li th:each="category : ${categories}">
          <a class="list-group-item rounded-5 mt-2" href="#" th:text="${category.categoriesList}"></a>
        </li>
      </ul>
    </div>
    <div class="right w-75">
      <div class="container w-50">
        <div class="row">
          <div th:replace="~{fragments/cards::card-Fragment}" th:each="allArticles:${allArticle}">
            <img th:src="${allArticles.imgUrl}"
                 class="card-img-top" alt="..."/>
            <img th:src="${allArticles.author.profileURLs}" alt=""
                 width="100px" height="100px" class="rounded-circle">
            <div class="mx-2">
              <h4 class="card-title" th:text="${allArticles.author.name}"></h4>
              <p class="text-danger" th:text="${allArticles.author.name}"></p>
            </div>
            <p class="card-text" th:text="${allArticles.author.bio}">
            <div class="d-flex justify-content-between align-item-center">
              <a href="#" class="btn btn-primary m-2">view profile</a>
              <a href="#" class="btn btn-warning m-2">Delete profile</a>
              <a href="#" class="btn btn-primary m-2">Update profile</a>
            </div>
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
